vendor-prefixes = webkit official
@import "nib"
$fa-font-path = "../node_modules/font-awesome-stylus/fonts"
@import "../node_modules/font-awesome-stylus/stylus/font-awesome"
@import "./variables"
@import "./fonts"

*
{
	padding: 0
	margin: 0
}

*:active, *:focus
{
	outline: 0
}

body, html
{
	height: 100%
	font-family: "Lato"
	color: $text-color
	//background-color: $bg-color
}

#app
{
	height: 100%

	> div
	{
		display: flex
		flex-directon: row
		margin: 0
		padding: 0
		height: 100%
	}
}

#sidebar
{
	background-color: $sidebar-bg-color
	flex: 1 0
	max-width: 200px

	#search
	{
		input
		{
			border: 0
			width: 100%
			height: 30px
			background-color: $search-bg-color
			text-indent: 30px

			&::-webkit-input-placeholder
			{
				color: $search-text-color
				font-family: "Lato"
			}
		}

		.fa-search
		{
			position: absolute
			left: 5px
			top: 8px
			color: $search-icon-color
		}
	}

	#games
	{
		ul
		{
			list-style: none
		}

		.game
		{
			padding-top: 5px
			padding-bottom: 5px
			display: flex
			align-items: center
			background-color: $game-bg-color

			&.selected
			{
				background-color: $game-selected-bg-color
			}

			img
			{
				border-radius: 150px
				width: 30px
				margin-left: 5px
				margin-right: 10px
			}
		}
	}
}

#content
{
	height: 100%
	flex: 1 0

	header
	{
		min-height: 50%
		padding: 30px
		background: linear-gradient(rgba($bg-color, 0.9), rgba($bg-color, 0.9)),
					url("../images/supermeatboy-bg.png")
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		border-bottom: 2px solid $content-separator

		#info
		{
			display: flex
			height: 190px

			img
			{
				width: 190px
				margin-right: 40px
			}

			span
			{
				font-size: 2em
			}
		}
	}

	footer
	{
		// todo: fix height height: 100%
		display: flex
		flex-direction: row

		#share
		{
			flex: 1 1
			padding: 5px
			background-color: $content-share-bg-color
			border-right: 2px solid $content-separator
		}

		#more-like
		{
			flex: 1 1
			background-color: $content-more-like-bg-color
			padding: 5px;
		}
	}
}
