// global
$text-color = #fff

// sidebar
$sidebar-bg-color = #2c3240

// search
$search-bg-color = #7f8995
$search-text-color = darken($search-bg-color, 24%)
$search-icon-color = darken($search-bg-color, 54%)

// games
$game-bg-color = $sidebar-bg-color
$game-selected-bg-color = #3b4755
