// global
$text-color = #fff
$bg-color = #2c3240

// sidebar
$sidebar-bg-color = $bg-color

// search
$search-bg-color = #8c95a0
$search-text-color = darken($search-bg-color, 24%)
$search-icon-color = darken($search-bg-color, 54%)

// games
$game-bg-color = $bg-color
$game-selected-bg-color = #3b4755

// content
$content-separator = #3c4652
$content-share-bg-color = #333d49
$content-more-like-bg-color = $bg-color
